<header class="p-3 text-bg-dark">
  <!-- <nav class="navbar fixed-top navbar-dark bg-dark"> -->
    <div class="container">
      
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <object data="assets/eshop.svg" width="89" height="48"> </object>
        </a>
        <div style="width:20px"></div>
        <div></div>
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/bannerHome" routerLinkActive="myclass" ariaCurrentWhenActive="page" class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink='/products/fashion' routerLinkActive="myclass"  ariaCurrentWhenActive="page" class="nav-link px-2 text-white">Fashion</a></li>
          <li><a routerLink='/products/electronics' routerLinkActive="active"  ariaCurrentWhenActive="page" class="nav-link px-2 text-white">Electronics</a></li>
          <li><a routerLink='/products/grocery' routerLinkActive="active"  ariaCurrentWhenActive="page" class="nav-link px-2 text-white">Grocery</a></li>
          <li><a routerLink='/products/sports' routerLinkActive="active"  ariaCurrentWhenActive="page" class="nav-link px-2 text-white">Food</a></li>
        </ul>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>
        
        <div *ngIf="isLoggedIn" class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span style="font-size: 10pt;">Hello, Nithyanantha</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>
          </ul>
        </div>
        <div class="text-end mx-1">
          <button type="button" [routerLink]="'/login'" class="btn btn-outline-light me-2"><fa-icon  [icon]="faShoppingCart"></fa-icon></button>
        </div>
        
        <div *ngIf="!isLoggedIn" class="text-end">
          <button type="button" [routerLink]="'/login'" class="btn btn-outline-light me-2">Login</button>
          <button type="button" [routerLink]="'/signup'" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  <!-- </nav> -->
  </header>
