<div class="container-flux mt-5 mb-5">

    <div *ngIf="loading" class="d-flex justify-content-center m-5">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="product==null && error==''" class="container bg-white">
        <h4>
            <fa-icon style="color: red;" [icon]="faFileCircleExclamation"></fa-icon> No product found {{pname}}
        </h4>
    </div>
    <div *ngIf="error!=''" class="container bg-white">
        <h4 style="color:red ;">
            <fa-icon [icon]="faTriangleExclamation"> </fa-icon> {{error}}
        </h4>
    </div>
    <div *ngIf="product!=null" class="row d-flex justify-content-center">
        <div class="col-md-10">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">

                <ol class="breadcrumb">

                    <li *ngIf="landingCategory.length>2" class="breadcrumb-item active" aria-current="page"><a
                            [routerLink]="['/',landingCategory[1],landingCategory[2]]">{{landingCategory[2]}}</a></li>
                    <li *ngIf="landingCategory.length>3" class="breadcrumb-item active" aria-current="page"><a
                            [routerLink]="['/',landingCategory[1],landingCategory[2],landingCategory[3]]">{{landingCategory[3]}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"><a
                            [routerLink]="">{{product.productName.replaceAll(' ', '-')}}</a></li>

                </ol>
            </nav>
            <div class="card">
                <div class="row">
                    <div class="col-md-1 d-none d-xl-block">
                        <div *ngFor="let state of product.productImages; index as i"
                            class="thumbnail text-center mt-2 border"> <img
                                (mouseover)='over(product.productImages[i])'
                                src="{{imageUrl}}{{product.productImages[i]}}?d=100x100" width="70"> </div>
                    </div>
                    <div class="col-md-5">
                        <div class="images">
                            <div class="text-center"> <img id="main-image"
                                    src="{{imageUrl}}{{product.productImages[0]}}?d=1000x1500" width="400" height="600" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i><a
                                        [routerLink]="landingCategory.length>3?['/',landingCategory[1],landingCategory[2],landingCategory[3]]:['/',landingCategory[1],landingCategory[2]]">
                                        <span class="ml-1">Back</span></a> </div>
                                <span><span class="mx-4"><i [ngStyle]="wishItem?{color:'red'}:{color:'pink'}"
                                            (click)="wishlist(product._id)" id="wishlist-span"
                                            class="fa fa-lg fa-heart text-red"></i></span><i
                                        class="fa fa-lg fa-share-alt"></i></span>
                            </div>
                            
                            <div class="mt-4 mb-3"> <span
                                    class="text-uppercase text-muted brand">{{product.brand}}</span>
                                <h5 class="text-uppercase">{{product.productName}}</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <span *ngIf="product.commerceAttributes.isOnSale && product.priceInfo.sales_price!=null"
                                        class="act-price">{{product.priceInfo.sales_price|currency:currencySymbol:'symbol-narrow':'1.0-0'}}</span>
                                    <div class="ml-2"> <small
                                            [ngClass]="product.commerceAttributes.isOnSale? 'dis-price mx-2':'act-price'">{{product.priceInfo.mrp_price| currency:currencySymbol:'symbol-narrow':'1.0-0'}}</small>
                                        <span class="mx-2 text-success"
                                            *ngIf="product.commerceAttributes.isOnSale && product.priceInfo.discount!=null">{{product.priceInfo.discount}}%
                                            Offer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-content-left">
                                
                                  
                                <fa-icon [ngStyle]="product.commerceAttributes.starRating>0?{'color':'orange'}:{'color':'grey'}"
                                    [icon]="product.commerceAttributes.starRating>0.5?faStar:product.commerceAttributes.starRating==0?faStar:faStarHalf"></fa-icon>
                                <fa-icon [ngStyle]="product.commerceAttributes.starRating>1?{'color':'orange'}:{'color':'grey'}"
                                    [icon]="product.commerceAttributes.starRating>1.5?faStar:product.commerceAttributes.starRating>1?faStarHalf:faStar"></fa-icon>
                                <fa-icon [ngStyle]="product.commerceAttributes.starRating>2?{'color':'orange'}:{'color':'grey'}"
                                    [icon]="product.commerceAttributes.starRating>2.5?faStar:product.commerceAttributes.starRating>2?faStarHalf:faStar"></fa-icon>
                                <fa-icon [ngStyle]="product.commerceAttributes.starRating>3?{'color':'orange'}:{'color':'grey'}"
                                    [icon]="product.commerceAttributes.starRating>3.5?faStar:product.commerceAttributes.starRating>3?faStarHalf:faStar"></fa-icon>
                                <fa-icon [ngStyle]="product.commerceAttributes.starRating>4?{'color':'orange'}:{'color':'grey'}"
                                    [icon]="product.commerceAttributes.starRating>4.5?faStar:product.commerceAttributes.starRating>4?faStarHalf:faStar"></fa-icon>
                                    <small class="ms-2 text-muted">({{product.commerceAttributes.starRating}})</small>

                            </div>
                            <p class="about">{{product.productDescription}}</p>
                            <div class="row sizes mt-5">
                                <div style="min-width: 200px;" class="col-lg-3 col-md-6 col-sm-3 col-xs-3">
                                    <h6 class="text-uppercase"><span class="fw-bold">Color : </span><span>{{this.selectedColor.name}} </span> </h6>
                                </div>
                                <div class="col-lg-3 col-md-1 col-sm-4 col-xs-4"
                                    [ngStyle]="{'height' : '20px', 'width' : '20px','background-color':product.productVariants.colors[0].value}">
                                </div>


                                <ul *ngIf="product.productVariants!=null && product.productVariants.colors!=null"
                                    class="list-group list-group-horizontal ">
                                    <li *ngFor="let pcolor of product.productVariants.colors; index as i"
                                        class="list-group-item xcolor-box">
                                      
                                        <label class="radio">
                                            <input type="radio" (change)="onChangeColor($event)" name="color"
                                                value="{{pcolor.name}}" [checked]="product.productVariants.colors[0]==pcolor.name">
                                            <div
                                                [ngStyle]="{'height' : '20px', 'width' : '20px','background-color':pcolor.value}">


                                            </div>
                                        </label>

                                    </li>

                                </ul>
                            </div>
                            <div *ngIf="product.productVariants!=null && product.productVariants.sizes!=null"
                                class="sizes mt-5">
                                <h6 class="text-uppercase"><span class="fw-bold">Size : </span> <span>{{selectedSize}}</span></h6>
                                <label *ngFor="let psize of product.productVariants.sizes; index as i" class="radio">

                                    <input type="radio" (change)="onChangeSize($event)" name="size" value="{{psize}}"
                                        [checked]="product.productVariants.sizes[0]==psize"> <span>{{psize}}</span>
                                </label>



                            </div>

                            <div *ngIf="product.productVariants!=null && product.productVariants.models!=null"
                                class="sizes mt-5">
                                <h6 class="text-uppercase"><span class="fw-bold">Model : </span><span>{{selectedModel}}</span></h6>
                                <label *ngFor="let pmodel of product.productVariants.models; index as i" class="radio">

                                    <input type="radio" (change)="onChangeModel($event)" name="model" value="{{pmodel}}"
                                        [checked]="product.productVariants.models[0]==pmodel"> <span>{{pmodel}}</span>
                                </label>



                            </div>
                          


                            <div class="mt-3"><span class="fw-bold">Availability:</span>{{product.stockInfo.isOnStock?' In Stock':
                                ' Not Available'}}
                                <small *ngIf="product.stockInfo.isOnStock" style="color: green;" class="fw-bold"> ({{product.stockInfo.stockQuantity}} Nos.)</small>
                            
                            </div>


                            <div *ngIf="product.feature_attributes!=null">

                                <div *ngFor="let attribute of product.feature_attributes; index as i" class="mt-3"><span
                                        class="fw-bold text-capitalize">{{attribute.key}}:</span> {{attribute.value}}
                                </div>

                            </div>



                            <div class="cart mt-4 align-items-center">
                                <button type="button" (click)="addToCart(product)"
                                    [ngClass]="product.stockInfo.isOnStock?'btn btn-info text-uppercase mr-2 px-4':'btn btn-light text-uppercase mr-2 px-4'"
                                    [disabled]="!product.stockInfo.isOnStock">Add to cart</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-flux mt-5 mb-5">
    <div class="col-md-12 mt-3">
        <div class="product p-4">
            <div class="row align-top">
                <div class="col-md-6 d-flex justify-content-between align-items-top table-responsive">

                    <table *ngIf="product!=null && product.technical_attributes!=null" class="table table-responsive m-1">
                        <thead>
                            <tr>
                                <th scope="col" style="color:red ;">Technical Details</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tattribute of product.technical_attributes">
                                <th scope="row">{{tattribute.key}}</th>
                                <td>{{tattribute.value}}</td>

                            </tr>

                        </tbody>
                    </table>




                </div>
                <div class="col-md-6 d-flex align-top">
                    <div *ngIf="product && product.productNotes!=null" class="mt-3">
                        <span class="fw-bold mb-5">About this item:</span>
                        <div class="mb-2"></div>
                        <ul class="list-group list-group-flush">
                            <li *ngFor="let note of product.productNotes" class="list-group-item">{{note}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>