<div style="min-height: 500px;" class="container mt-5 bg-light pt-4">
<div class="card">
 
    <div class="card-body">
      <h2 class="font-weight-bold">Your Eshop Cart is empty</h2>
      <small class="card-text text-muted">You cannot add items to your shopping cart without logging in.</small>
      <p></p>
      <a  [routerLink]="'/login'" class="btn btn-warning">Sign in to your account</a><a  [routerLink]="'/signup'" class="btn btn-info ms-4">Sign up Now</a>

      <div class="d-grid mt-5">
      <small>The price and availability of items at Eshop.com are subject to change. The shopping cart is a temporary place to store a list of your items and reflects each item's most recent price.

        Do you have a promotional code? We'll ask you to enter your claim code when it's time to pay.</small>
      </div>
    </div>
  </div>
</div>
